
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Membuat Desain Form Login Dengan CSS - www.malasngoding.com</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style>
		body {
			font-family: sans-serif;
			background: #d5f0f3;
		}

		h1 {
			text-align: center;
			/*ketebalan font*/
			font-weight: 300;
		}

		.tulisan_login {
			text-align: center;
			/*membuat semua huruf menjadi kapital*/
			text-transform: uppercase;
		}

		.kotak_login {
			width: 350px;
			background: white;
			/*meletakkan form ke tengah*/
			margin: 80px auto;
			padding: 30px 20px;
		}

		label {
			font-size: 11pt;
		}

		.form_login {
			/*membuat lebar form penuh*/
			box-sizing: border-box;
			width: 100%;
			padding: 10px;
			font-size: 11pt;
			margin-bottom: 20px;
		}

		.tombol_login {
			background: #61affe;
			color: white;
			font-size: 11pt;
			width: 100%;
			border: none;
			border-radius: 3px;
			padding: 10px 20px;
		}

		.link {
			color: #232323;
			text-decoration: none;
			font-size: 10pt;
		}
	</style>
</head>
<body>

	<h1>Manajemen Kas Kelas</h1>

	<div class="kotak_login">
		<p class="tulisan_login">Silahkan login</p>
			<label>Username</label>
			<input type="text" id="username" class="form_login" placeholder="Username ..">

			<label>Password</label>
			<input type="text" id="password" class="form_login" placeholder="Password ..">

			<input type="submit" class="tombol_login" id="login" value="LOGIN">

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		$(document).ready(function () {


		});
		$('#login').click(function () {
			Login();
		})
		function Login() {

			//kondisi Cek username & pass tidak kosong
			if ($("#username").val() == "" || $("#password").val() == "") {
				alert("User Name & Password harus diisi.")
			}
			else {
				var param = {
					username: $("#username").val(),
					password: $("#password").val(),
				};
				$.ajax({
					type: 'POST',
					dataType: 'json',
					contentType: "application/json",
					cache: false,
					url: '@Url.Action("Auth", "Login")',
					data: JSON.stringify(param),
					success: function (Data, textStatus, jqXHR) {

						if (Data.code == '000') {
							window.location.replace('@Url.Action("Index", "Home")');
						}
						else {
							alert(Data.message);
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						alert("Login Error.");
						console.log(textStatus);
					}
				});
			}
		}

	</script>

</body>
</html>

