<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.115.4">
    <title>Manajemen Kas Kelas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta name="theme-color" content="#712cf9">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        media (min-width: 768px) {
            .bd-placeholder-img-lg

        {
            font-size: 3.5rem;
        }

        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .active {
            color: #0d6efd !important;
        }
    </style>


    <!-- Custom styles for this template -->
    <!-- <link href="offcanvas-navbar.css" rel="stylesheet"> -->
</head>

<body class="bg-body-tertiary">

    <main class="container">
        <div class="d-flex align-items-center p-3 my-3  bg-body rounded shadow-sm">
            <div class="lh-1">
                <h1 class="h5 mb-0 lh-1">Data User</h1>
            </div>
            <div style="margin-left: 1020px;">
                <a type="button" class="btn btn-primary" asp-controller="User" asp-action="AddUser">Tambah Pengguna</a>
            </div>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <table class="table" id="table-user">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Username</th>
                        <th class="text-center" scope="col">Role</th>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-user">
                </tbody>
            </table>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
</body>

<div id="Modal-Edit-User" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- konten modal-->
        <div class="modal-content">
            <!-- heading modal -->
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" asp-controller="Kelas" asp-action="ListKelas">&times;</a>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <!-- body modal -->
            <div class="modal-body">
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Role</label>
                    <select name="role_id" id="role_id" class="form-control">
                        <option value="">Pilih Role</option>
                    </select>
                </div>
            </div>
            <!-- footer modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="submit_edit">Edit</button>
            </div>
        </div>
    </div>
</div>
<input class="form-control" id="idUser" type="hidden" />

<script>
    $(document).ready(function () {
        $("#Modal-Edit-User").modal('hide');
        GetDataUser();

    });

    $('#submit_edit').click(function () {
        var id = $(this).data('id');
        UpdateUser(id);
    })

    function GetDataUser() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            cache: false,
            url: '@Url.Action("ReadUserAsync", "User")',
            success: function (Data, textStatus, jqXHR) {
                $("#tbody-table-user").empty();
                var edit = "<a href='javascript:void(0)' class='btn btn-outline-primary' id='EditUser'><span class='fa fa-pencil-square-o'></span>&nbsp;Edit</a>"
                var hapus = "<a href='javascript:void(0)' class='btn btn-outline-primary' id='HapusUser'><span class='fa fa-pencil-square-o'></span>&nbsp;Hapus</a>"

                var seq = 0;
                var trHTML = '';
                $.each(Data.data, function (i, rowData) {
                    seq += 1;
                    trHTML += '<tr>' +
                        "<td style='display:none'>" + rowData.id + "</td>" +
                        "<td class='text-center'>" + seq + "</td>" +
                        "<td class='text-center'>" + rowData.username + "</td>" +
                        "<td class='text-center'>" + rowData.role + "</td>" +
                        "<td class='text-center'>" + '' + "</td>" +
                        "<td style='text-align: center;'>" + edit + hapus + "</td>" +
                        '</tr>';
                });
                $('#table-user').append(trHTML);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Get User Error.")
            }
        });
    }

    $("#table-user").on('click', '#HapusUser', function () {
        var currentRow = $(this).closest("tr");
        var id = currentRow.find("td:eq(0)").text();
        var param = {
            id: id
        };
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: "application/json",
            cache: false,
            url: '@Url.Action("DeleteUserAsync", "User")',
            data: JSON.stringify(param),
            success: function (Data, textStatus, jqXHR) {
                alert("Succesfully");
                location.reload();
            },
            error: function (ts) {
                alert("Delete Error.");
                console.log(ts.responseText);
            }
        });
    });

    $("#table-user").on('click', '#EditUser', function () {
        var currentRow = $(this).closest("tr");
        var id = currentRow.find("td:eq(0)").text();
        $('#submit_edit').attr('data-id', id);
        console.log(id)
        $("#Modal-Edit-User").modal('show');
    });

    function UpdateUser(id) {
        var param = {
            id: id,
            username: $('#username').val(),
            password: $('#password').val(),
            role: $('#role_id').val(),
        };

        console.log(param);
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: "application/json",
            cache: false,
            url: '/User/UpdateUserAsync',
            data: JSON.stringify(param),
            success: function (Data, textStatus, jqXHR) {
                console.log({
                    Data, textStatus, jqXHR
                })
                alert("Succesfully.")
                window.location.replace('/User/ListPengguna');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log({
                    jqXHR, textStatus, errorThrown
                })
                alert("Save User Error.")
            }

        });
    }


</script>

